.article__small-button {
    padding: 0.8rem 1.5rem;
    margin: 2rem 0.5rem 2rem 0;
    color: $platinum;
    background-color: $nickel;
    border-radius: 4rem;
}

.article__medium-button {
    padding: 0.8rem 2rem;
    margin: 2rem 0 2rem 0.5rem;
    color: $platinum;
    background-color: $nickel;
    border-radius: 4rem;
}