h1 {
    @extend .font-wrapper;
    color: $white;
    font-size: $font-size-xx-large;
    text-align: center;
}

h3 {
    @extend .font-wrapper;
    color: $eerie-black;
    font-size: $font-size-x-large;
    text-align: left;
}

h4 {
    font-family: $primary-font;
    font-weight: $primary-font-light;
    color: $spanish-pink;
    font-size: $font-size-large;
    text-align: left;
}

h6 {
    font-family: $second-font;
    font-size: $font-size-large;
    font-weight: $second-font-regular;
}

p {
    font-family: $primary-font;
    font-weight: $primary-font-regular;
    font-size: $font-size-medium;
}