.main {
    height: 120vh;
    width: 100vw;
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    margin-bottom: 1rem 0;

    &__titulo {
        padding: 0 10%;
        margin: 20% 0;
    }

    &__icono {
        text-align: center;
        color: $white;
        font-size:  3.125rem;
    }
        
}

