.navbar {
    background-color: $eerie-black;
    padding: 1.5rem 0;

    .nav-item {
        color: $platinum;
    }

    :hover, .active {
        color: $ruddy-pink;
    }

    &__logo {
        width: 40%;
    }
}

